---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CV">
    <ul class="instructions-container">
        <h2 class="section-title">My CV</h2>
        <li class="instructions">
            <h3>Name</h3>
            <p>[First Name] [Last Name]</p>
        </li>
        <li class="instructions">
            <h3>Contact</h3>
            <ul>
                <li>
                    <h4>Email:</h4>
                    <p>[Email Address]</p>
                </li>
                <li>
                    <h4>Phone:</h4>
                    <p>[Phone Number]</p>
                </li>
            </ul>
        </li>
        <li class="instructions">
            <h3>Address</h3>
            <p>[Street Address]</p>
        </li>
        <li class="instructions">
            <h3>Education</h3>
            <ul>
                <li>
                    <h4>[Degree Name]</h4>
                    <p>[University Name] - [Graduation Year]</p>
                </li>
            </ul>
        </li>
        <li class="instructions">
            <h3>Experience</h3>
            <ul>
                <li>
                    <h4>[Job Title]</h4>
                    <p>[Company Name] - [Start Date] - [End Date]</p>
                    <ul>
                        <li>[Responsibility 1]</li>
                        <li>[Responsibility 2]</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="instructions">
            <h3>Skills</h3>
            <ul>
                <li>[Skill 1]</li>
                <li>[Skill 2]</li>
            </ul>
        </li>

    </ul>
</Layout>
